/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */



ul.fsrg-block-list-all-tour-dates-of-current-year-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li.fsrg-block-list-all-tour-dates-of-current-year-entry {
	margin: 0 0 6px 0;
}
